/*RESET*/
body,div,main,section,article,h1,p{margin:0;padding:0;}
/*FIN RESET*/


/*GLOBAL*/
body{background:#fff;}
main{display: table;background:#ccc;margin:auto;}
section{display: table;background:#fff;}
section article, section article h1 {text-align:left;font-family:'arial';}
section article p{text-align:left;font-family: 'Times New Roman', Times, serif;}
/*FIN GLOBAL*/


/*HEADER*/
header .contenido-centerado{display: table;margin: auto;position: relative;}
header .contenido-centerado.logo-centrado{width:80px;height:auto;}
header{ top: 0;
    position: fixed;
    width: 100%;
    display: table;
    background: #000;
    padding: 0;
    box-shadow: 0px 0px 23px #000;
    min-height: 68px;
    max-height: 68px;}
header a.link-cabecera{display: table;position: relative;}
header a.link-cabecera div.logo-cabecera{width: 80px;
    height: 80px;
    background: #fff url(../img/logos/logo-small-callejero.jpg);
    position: absolute;
    border-radius: 80px;
    margin: 2px 0 0 0;
    background-size: 100%;}
/*FIN HEADER*/

/*CONTENIDO*/
/*FIN CONTENIDO*/

/*FOOTER*/
footer{bottom:0;width:100%;clear:both}
footer.footer-medium-dark{background-color:#252525;height:20vh;}
/*FIN FOOTER*/