body,div,main,section,article,h1,p{margin:0;padding:0;}
body{background:#fff;}
main{display: table;background:#ccc;}
section{display: table;background:#fff;}
section article, section article h1 {text-align:left;font-family:'arial';}
section article p{text-align:left;font-family: 'Times New Roman', Times, serif;}